<section class="community-section" id="community">
  <div class="community-content-wrap container">
    <h2 class="community-title">Community and Leaderboards</h2>
    <p class="community-text">
      Become part of a lively community of puzzle lovers. Engage with fellow
      players via social media channels and in-game forums where you can share
      your progress, tips, and strategies. 
    </p>
    <div class="community-follow-us">
      <h3 class="community-follow-us-title">Follow us:</h3>
      <ul class="community-list">
        <li class="community-list-item">
          <img
            class="community-list-img"
            src="./img/fb-logo.png"
            alt="facebook"
          />
        </li>
        <li class="community-list-item">
          <img
            class="community-list-img"
            src="./img/insta-logo.png"
            alt="instagram"
          />
        </li>
        <li class="community-list-item">
          <img class="community-list-img" src="./img/x-logo.png" alt="x" />
        </li>
        <li class="community-list-item">
          <img class="community-list-img" src="./img/4logo.png" alt="" />
        </li>
      </ul>
    </div>
    <p class="community-text">
      Join global leaderboards to compete with players worldwide and climb ranks
      based on your puzzle-solving speed and skill. Participate in friendly
      tournaments and weekly challenges with exclusive prizes. Follow us on
      social media for sneak peeks, developer insights, and special giveaways.
      Your feedback is valued—help shape future updates by sharing ideas and
      connecting with other Glow Puzzle enthusiasts in a welcoming and
      supportive community.
    </p>
  </div>
</section>
