<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-main">
      <p class="contact-email-info">
        Have questions or need assistance? <br />Email us anytime:
        <a class="contact-link" href="mailto:info@glowroot.pro">info@glowroot.pro</a>
      </p>
      <p class="contact-text">
        We love hearing from players! Whether it’s feedback, bug reports, or
        just to say hello, reach out and get quick responses. Also, follow us on
        social media to stay updated on new features, community events, and
        special offers.
      </p>
    </div>
  </div>
</section>
