<section class="gameplay-section" id="gameplay">
  <div class="gameplay-content-wrap container">
    <h2 class="gameplay-title">Simple Mechanics, Intriguing Challenges</h2>
    <div class="gameplay-text-wrap">
      <p class="gameplay-text">
        Gameplay is straightforward—just drag, drop, and strategically arrange
        the glowing blocks to complete intricate patterns. However, simplicity
        doesn't mean it's easy. Each new level introduces innovative and
        progressively complex challenges, including timed puzzles, limited
        moves, and unique block shapes.
      </p>
      <p class="gameplay-text">
        From classic block fits to puzzles requiring careful planning and
        pattern recognition, each level tests your spatial reasoning and
        creativity. The game introduces special blocks with unique properties,
        such as glowing bombs that clear lines or multi-colored blocks that must
        match specific patterns. Bonus rounds and daily challenges add variety,
        and an intuitive hint system helps you overcome tricky puzzles without
        spoiling the fun. The pacing is designed to keep you motivated,
        gradually ramping up difficulty to maintain the perfect balance of
        satisfaction and challenge.
      </p>
    </div>
    <div class="gameplay-swiper swiper">
      <ul class="gameplay-swiper-wrapper swiper-wrapper">
        <li class="gameplay-swiper-slide swiper-slide">
          <img
            class="gameplay-img"
            src="./img/gameplay-slide-1.png"
            alt="smartphone screen"
          />
        </li>
        <li class="gameplay-swiper-slide swiper-slide">
          <img
            class="gameplay-img"
            src="./img/gameplay-slide-2.png"
            alt="smartphone screen"
          />
        </li>
        <li class="gameplay-swiper-slide swiper-slide">
          <img
            class="gameplay-img"
            src="./img/gameplay-slide-3.png"
            alt="smartphone screen"
          />
        </li>
        <li class="gameplay-swiper-slide swiper-slide">
          <img
            class="gameplay-img"
            src="./img/gameplay-slide-4.png"
            alt="smartphone screen"
          />
        </li>
        <li class="gameplay-swiper-slide swiper-slide">
          <img
            class="gameplay-img"
            src="./img/gameplay-slide-5.png"
            alt="smartphone screen"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
