<header class="header-section">
  <div class="header-content-wrap container">
    <button class="burger-menu"><img src="./img/mobile/burger-menu.png" alt=""></button>
    <ul class="header-desktop-list">
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#hero">Home</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#about">About the Game</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#visuals">Visuals</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#gameplay">Gameplay</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#progress">Save Progress</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#support">Support</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#mobile">Mobile</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#rewards">Rewards</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#community">Community</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#testimonials">Testimonials</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#faq">FAQ</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#info">Technical Info</a>
      </li>
      <li class="header-desktop-list-item">
        <a class="header-desktop-link" href="/#contact">Contact</a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop container">
  <button class="burger-menu-close"><img src="./img/mobile/burger-menu.png" alt=""></button>
  <ul class="backdrop-list">
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#hero">Home</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#about">About the Game</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#visuals">Visuals</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#gameplay">Gameplay</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#progress">Save Progress</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#support">Support</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#mobile">Mobile</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#rewards">Rewards</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#community">Community</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#testimonials">Testimonials</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#faq">FAQ</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#info">Technical Info</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-list-link" href="/#contact">Contact</a>
    </li>
  </ul>
</div>
