<section class="support-section" id="support">
  <div class="support-content-wrap container">
    <div class="support-main">
      <h2 class="support-title">Hints and Reliable Support</h2>
      <div class="support-info-wrap">
        <div class="support-text-wrap-1">
          <p class="support-text">
            Encountering a tough puzzle? No worries! Glow Block Puzzle provides up
            to 10 helpful hints per puzzle, guiding you through difficult moments
            with subtle tips that nudge you in the right direction without giving
            away the full solution.
          </p>
        </div>
        <img class="support-img" src="./img/support-img.png" alt="" />
        <div class="support-text-wrap-2">
          <p class="support-text">
            The hints are designed to encourage learning and discovery, helping
            you develop better strategies over time. If you ever get stuck or have
            questions about the game mechanics, our responsive support team is
            just an email away. We prioritize player feedback and regularly update
            the game based on community suggestions. In-app reporting tools make
            it easy to notify us about bugs or gameplay issues, ensuring you get a
            smooth and enjoyable experience every time.
          </p>
        </div>
      </div>
    </div>
    <img class="support-img-desktop" src="./img/support-img.png" alt="" />
  </div>
</section>
