.cookies-wrap {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  background: #000;
  width: 375px;
  height: 221px;

  z-index: 9999;

  @include media(desktop) {
    width: 100%;
  }
}

.cookkie-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-top: 40px;
  @include media(desktop) {
  }
}

.cookies-modal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  width: 303px;
  @include media(desktop) {
    width: 100%;
  }
}

.cookies-btn-wrap {
  display: flex;
  gap: 18px;
  margin-bottom: 48px;
  margin-top: 17px;
  @include media(desktop) {
    gap: 80px;
  }
}

.cookies-accept {
  border-radius: 20px;
  width: 151px;
  height: 35px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #02fff2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(desktop) {
    width: 213px;
    height: 40px;
  }
}

.cookies-decline {
  border-bottom: 1.85px solid #f600ff;
  width: 152px;
  height: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #f600ff;
  @include media(desktop) {
    width: 173px;
height: 40px;
  }
}

// .cookies-decline .cookie-text-btn {
//   font-family: 'Baloo 2', sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.125;
//   color: #002919;
// }

// .cookies-accept .cookie-text-btn {
//   font-family: 'Baloo 2', sans-serif;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.125;
//   color: #fff;
// }

.close-cookies-modal-btn {
  position: absolute;
  top: 26px;
  right: 28px;
  width: 14px;
  height: 14px;
  @include media(desktop) {
    position: static;
    top: 0;
    margin-right: 50px;
  }
}
