.rewards-content-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  @include media(desktop) {
    padding: 0;
    width: 490px;
    height: 435px;
  }
}

.rewards-title {
  font-size: 48px;
  line-height: 1.04167;
  color: #00fffb;
}

.rewards-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: justify;
  color: #eaf9fd;
}
